<%= form_for(@holding) do |f| %>
  <% if @holding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@holding.errors.count, "error") %> prohibited this holding from being saved:</h2>

      <ul>
      <% @holding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name, "Name" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.number_field :client_id %>
  </div>
    <div class="field">
    <%= f.label :segment %><br>
    <%= f.text_field :segment %>
  </div>
    <div class="field">
    <%= f.label :sub_segment %><br>
    <%= f.text_field :sub_segment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
