<%= form_for(@holding) do |f| %>
  <% if @holding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@holding.errors.count, "error") %> prohibited this holding from being saved:</h2>

      <ul>
      <% @holding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h2>New Holding</h2>
  <div class="field">
    <%= f.label :client_id %>
    <%= f.collection_select :client_id, Client.select(:id),:id,:id, include_blank: true %><br />
    <%= f.label :name, "Asset Name" %>
    <%= f.text_field :name %><br />
    <%= f.label :location %>
    <%= f.text_field :location %><br />
    <%= f.label :aclass, "Asset Class" %>
    <%= f.collection_select :aclass, Aa.select('DISTINCT aclass'),:aclass,:aclass, include_blank: true %><br />
    <%= f.label :segment %>
    <%= f.collection_select :segment, Aa.select('DISTINCT segment'),:segment,:segment, include_blank: true %><br />
    <%= f.label :sub_segment, "Sub-Segment" %>
    <%= f.collection_select :sub_segment, Aa.select('DISTINCT sub_segment'),:sub_segment,:sub_segment, include_blank: true %><br />
    <%= f.label :value, "Market Value" %>
    <%= f.number_field :value %><br />
     <%= f.label :recommendation, "Change" %>
    <%= f.number_field :recommendation %>
    <br />
  <%= f.submit %>
  </div>
  
<% end %>
