<p id="notice"><%= notice %></p>

<h1>Listing Holdings</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Asset Name</th>
      <th>Value</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @holdings.each do |holding| %>
      <tr>
        <td><%= Client.where("id = ?", holding.client_id).pluck(:lastname, :firstname).first.join(", ") %></td>
        <td><%= holding.name %></td>
        <td><%= number_with_delimiter(holding.value) %></td>
        <td><%= link_to 'Edit', edit_holding_path(holding) %></td>
        <td><%= link_to 'Delete', holding, method: :delete, data: { confirm: 'Are you sure you want to delete this holding?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Holding', new_holding_path %>

<p><%= link_to 'Home', root_path %></p>
