<p id="notice"><%= notice %></p>

  <h1><%= @client.firstname %> <%= @client.lastname %></h1>
  

<h2 align="center">Proposed Asset Allocation</h2>
<table>
    <thead>
     <tr><th>Asset Name</th>
     <th>Account</th>
     <th>Class</th>
     <th>Segment</th>
     <th>Sub-Segment</th>
     <th>Current Value</th>
     <th>Current Percentage</th>
     <th>Recommendation</th>
     <th>Recommended Value</th>
     <th>Recommended Percentage</th>
     </tr>
     </thead>
<tbody>

     <% @client.holdings.order('aclass DESC, segment DESC, sub_segment').each do |holding| %>
     <tr>
         <td><%= holding.name %></td>
         <td><%= holding.location %></td>
         <td><%= holding.aclass %></td>
         <td><%= holding.segment %></td>
         <td><%= holding.sub_segment %></td>
         <td class="right"><%= number_with_delimiter(holding.value) %></td>
         <td class="right"><%= number_to_percentage((holding.value.to_f * 100)/(@client.ctotal.to_f), precision: 2) %></td>
         
         <td class="right"><%= number_with_delimiter(holding.recommendation) %></td>
         
         <td class="right"><%= number_with_delimiter(holding.recvalue) %></td>
         <td class="right"><%= number_to_percentage((holding.recvalue.to_f * 100)/(@client.rtotal.to_f), precision: 2) %></td>
     </tr>
     <% end %>
     
<tr class="total"><td  colspan="5">TOTAL</td>
<td><%= number_with_delimiter(@client.ctotal) %></td>
<td></td>
<td><%= number_with_delimiter(@client.changetotal) %></td>
<td><%= number_with_delimiter(@client.rtotal) %></td>
<td></td>
</tr>

</tbody>
</table>
