<p id="notice"><%= notice %></p>

  <h1><%= @client.firstname %> <%= @client.lastname %></h1>
  

<h2 align="center">Current Asset Allocation</h2>
<table>
    <thead>
     <tr><th>Asset Name</th><th>Account</th><th>Class</th><th>Segment</th><th>Sub-Segment</th><th>Current Value</th><th>Current Percentage</th></tr>
     </thead>
<tbody>

     <% @client.holdings.order('aclass DESC, segment DESC, sub_segment').each do |holding| %>
     <tr>
         <td><%= holding.name %></td>
         <td><%= holding.location %></td>
         <td><%= holding.aclass %></td>
         <td><%= holding.segment %></td>
         <td><%= holding.sub_segment %></td>
         <td class="right"><%= number_with_delimiter(holding.value) %>
         </td>
         <td class="right"><%= number_to_percentage((holding.value.to_f * 100)/(@client.ctotal.to_f), precision: 2) %></td>
     </tr>
     <% end %>
     
<tr class="total"><td  colspan="5">TOTAL</td>
<td><%= number_with_delimiter(@client.ctotal) %></td></tr>

</tbody>
</table>

<button id="hideButton">Add Asset</button>
<div id="hideForm">
<%= render 'holdingform' %>
</div>

<p>
<%= link_to 'Edit This Client Info ', edit_client_path(@client) %> |
<%= link_to 'Back to Client List', clients_path %>
</p>