<p id="notice"><%= notice %></p>

  <h1><%= @client.firstname %> <%= @client.lastname %></h1>
  

<p>
  <strong>Holdings:</strong>
<!--  %= @client.holding %> -->
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
