<p id="notice"><%= notice %></p>

  <h1><%= @client.firstname %> <%= @client.lastname %></h1>
  

<p>
  <strong>Holdings:</strong>

</p>
<tbody>
     <% @client.holdings.each do |holding| %>
     <%= holding.name %>
     <% end %>

</tbody>

<p>
<h2>New Holding</h2>
    <%= form_for Holding.new do |f| %>
    
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  <%= f.submit %>
  </div>


<% end %>
</p>

<p>
<%= link_to 'Edit This Client Info ', edit_client_path(@client) %> |
<%= link_to 'Back to Client List', clients_path %>
</p>