<p id="notice"><%= notice %></p>

<p>
  <strong>Aclass:</strong>
  <%= @aa.aclass %>
</p>

<p>
  <strong>Segment:</strong>
  <%= @aa.segment %>
</p>

<p>
  <strong>Sub segment:</strong>
  <%= @aa.sub_segment %>
</p>

<%= link_to 'Edit', edit_aa_path(@aa) %> |
<%= link_to 'Back', aas_path %>
